* {
    background: burlywood;
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, orange, rgb(71, 166, 255));
    color: black;
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: medium;
}



/* 
current inventory is fine where it is
put staff below the current inventory 
on the right top put the reports 
below the reports put the finances
manage the rides in the center of the page 
*/


#current-inventory {
    display: inline-block;
}


#buypage {
    border: 4px dashed black;
    padding: 100px 100px;
    margin-left: 150px;
    
}

#log {
    border: 2px solid red;
    margin-left: 250px;
    position: absolute;
    right: 10px;
    top: 100px;
    padding: 25px 125px;
}

#stat {
    border: 5px solid green;
}

#finances {
    border: 5px solid rgb(98, 58, 58);
    position: absolute;
    right: 10px;
    top: 265px;
    padding: 25px 125px;
    margin-left: 250px;
}

#staff {
    border: 5px solid blue;

}

footer {
    text-align: center;
    bottom: 10px;
}

h2 {
    color: black;

}



