* {
    background: white;
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, orange, rgb(71, 166, 255));
    color: black;
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: medium;
}

#current-inventory {
    display: inline-block;
    position: relative;
}

#user-money {
    display: inline-block;
    margin-right: 10px; /* Space between the paragraph and the button */
}

.money-button {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: yellow;
    border: 1px solid black;
}

#buypage {
    border: 4px dashed black;
    padding: 20px 20px;
    width: 1250px;
    height: 200px;
    margin-left: 3vh;
    margin-right: 15vh;
}

#log {
    border: 2px solid red;
    margin-left: 70vw;
    position: absolute;
    right: 10px;
    top: 10vh;
    padding: 25px 125px;
}

#stat {
    position: absolute;
    border: 5px solid green;
    margin-left: 50vw;
    top: 75vh;
    padding: 25px 125px;
    right: 10px;
}

#financial {
    border: 5px solid rgb(98, 58, 58);
    position: absolute;
    right: 10px;
    top: 35vh;
    padding: 25px 125px;
    margin-left: 250px;
}

#financial > button {
    background: yellow;
}

#staff {
    position: absolute;
    border: 5px solid blue;
    padding: 20px 20px;
    top: 65vh;
    width: 1000px;
    height: 200px;
    margin-left: 3vw;
    text-align: left;
}

footer {
    text-align: center;
    bottom: 10px;
}

h2 {
    color: black;
}



