* {
    box-sizing: border-box;
    
}

h1 {
    color: black;
    
}

h2 {
    color: rgb(190, 1, 1);
    border-bottom: 1px solid black;
}

.warning {
    color: red;
}

button {
    background: yellowgreen;
}

button:hover{
    background: orange;
}

.subheader {
    display: inline-block;
}

.top-btns {
    border: 5px solid black;
}






