* {
    box-sizing: border-box;
    
}

h1 {
    color: black;
}

h2 {
    color: rgb(190, 1, 1);
    border-bottom: 1px solid black;
}

.warning {
    color: red;
}

button {
    background: orange;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } /*idk how to apply (animation-name:)*/





